.publicacion-contenedor-crear {
    display: flex;
    justify-content: center; /* Centrar el formulario horizontalmente */
    padding: 20px;
  }

/* Publicacion crear */
.publicacion-crear{
    background-color: rgb(17, 17, 17);
    padding: 15px;
    position: relative;
    top: 15px;
    margin-bottom: 30px;
    width: 1375px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    gap: 15px;

}

.pub-campo {
    display: flex;
    flex-direction: column; /* Asegura que label y select/textarea estén en una columna */
    gap: 5px; /* Espaciado entre el label y el input */
}

.pub-opciones label{
    color: white;
    left: 5px;
    position: relative;
}

.publicacion-crear #input-pub-titulo, #input-pub-contenido{
    width: 300px;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
    resize: none;
}

.publicacion-crear #btn-crearPublicacion, #btn-crearEtiqueta{
    background-color: #545454;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    width: 100px;
    height: 35px;
    top: 5px;
    position: relative;
}

.mensaje{
    color: white;
}

.publicacion-crear #btn-crearEtiqueta{
    left: 1060px;
}

#btn-crearPublicacion:hover{
    background-color: #616161;
}

textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
    height: 100px;
    resize: vertical;
  }
  
/* Publicacion crear */